:root {
    --background-color: #f0f7ff;
    --text-color-light: #fff;
    --primary-color: #3b82f6;

    --border-color: #dadada;

    --backlog-color: #dadada;
    --process-color: #c4e5ff;
    --ready-color: #c4ffca;
    --trash-color: #ffc4c4;

    --backlog-text: #9f9f9f;
    --process-text: #5e8bfe;
    --ready-text: #70d540;
    --trash-text: #fe5e5e;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    display: flex;
}

h1{
    color: #fff;
    padding: 15px 70px;
}

.new-task{
    padding: 20px 30px 40px;
    background-color: #fff;
    border-radius: 10px;
    margin: 60px 0px 30px 70px;
    max-width: fit-content;
    justify-content: space-between;
}

input {
    font-size: 15px;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 15px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
}

.new-task button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.trash button {
    background-color: var(--trash-text);
    color: var(--text-color-light);
    padding: 15px 90px;
    margin-top: 20px auto;
}

.task-board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px 70px 0px 70px;
    justify-content: space-between;
}

.task-column {
    max-width: 300px;
}

.task-column h3 {
    background-color: var(--backlog-color);
    color: var(--backlog-text);
    padding: 10px 15px;
    border-radius: 10px;
    max-width: fit-content;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-right: 50px;
}

.task-list {
    display: flex; 
    flex-direction: column; 
}

.task-item {
    display: flex; 
    align-items: center; 
    background-color: #fff;
    border-radius: 8px;
    margin: 0px 0px 10px;
    padding: 10px 15px;
    border-left: 5px solid transparent; 
    border-left-color: var(--border-color);
    word-break: break-word;
    min-width: 300px; 
    flex-grow: 1;
    min-height: 60px;
}

